#home-page {
  height: 100%;
  width: 80%;
  margin: auto;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

#ascii-code {
  font-size: 100px;
}

.bg-light {
  color: black;
  background-color: white;
}

.bg-dark {
  color: white;
  background-color: black;
}